@font-face {
    font-family: PT-SANS;
    src: url(./fonts/b477605.ttf)
}

@font-face {
    font-family: BwSurcoDEMO-Bold;
    src: url(./fonts/4ebaeaa.woff)
}

@font-face {
    font-family: ProximaNovaSemibold;
    src: url(./fonts/18c6bf4.otf)
}

@font-face {
    font-family: PROXIMANOVABOLD;
    src: url(./fonts/041a724.ttf)
}

@font-face {
    font-family: PROXIMANOVAREGULAR;
    src: url(./fonts/b339b74.ttf)
}