div.magia-linear-input__wrapper {
    position: relative;
    margin-bottom: 1em;
}

div.magia-linear-input__wrapper input.magia-linear-input {
    outline: none;
    height: 3em;
    width: 100%;
    font-size: 16px;
    margin: 0;
    padding: 0;
    transition: box-shadow .3s, border .3s;
    background: #FFFFFF;
    color: #979797;
    border: 0.1px solid #aa967d7a;
    box-sizing: border-box;
    border-radius: 4px;
}

div.magia-linear-input__wrapper input.magia-linear-input:focus,
div.magia-linear-input__wrapper input.magia-linear-input:hover{
    border-color: inherit !important;
    box-shadow: 0 0 black !important;
}

/*input {*/
/*    height: 20px;*/
/*}*/

div.magia-linear-input__wrapper i.icon {
    width: 2em;
    height: 100%;
    line-height: 4em;
    text-align: center;
    position: absolute;
    float: left;
}

div.magia-linear-input__wrapper i.icon > * {
    width: 1.5em;
    height: 1.5em;
}

div.magia-linear-input__wrapper i.icon + input.magia-linear-input {
    padding-left: 2em;
}
