input[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button{
    display: none;
}


.auth-wrapper {
    min-height: 100vh;
    background: rgba(0,0,0,.5);
    height: 100%;
    display: grid;
}

.auth-page-wrapper {
    background-image: url('/images/auth/auth_background.png'), linear-gradient(90.35deg, #294053 -1.36%, #836765 123.66%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-top: 0;
}

.registr-page {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    //padding-top: 84px;

    .registr__form {
        max-height: 800px;
        max-width: 700px;
        width: 100%;
        min-height: 300px;
        /* height: 100%; */
        background: #fff;
        border-radius: 16px;
        padding: 4em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 2em auto;

        & > div {
            margin-bottom: 2em;
        }

        & * {
            color: #294053;
        }

        .magia-send-button {
            color: #fff;
            width: 15em;
        }

        .form__header {
            h2 {
                font-size: 1.5em;
                margin: 0;
            }
        }

        .form__content {

            .registr__passwords-block {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1em;
            }

            .login__input {
                margin-bottom: 1em;

                .magia-input-img {
                    position: relative;

                    & > i {
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        padding: 0 1em;
                    }

                    & > input {
                        padding-left: 3em !important;
                    }
                }

                label {
                    font-size: 1em;
                }

                input {
                    background: rgba(238, 238, 244, 0.47);
                    border: 0;
                    color: #294053;
                }

                label, input {
                    padding-left: 0.5em !important;
                }
            }

            .auth__auth-buttons {
                margin-top:2em;
                display: flex;
                flex-direction: row;

                & > * {
                    margin-right: 1em;
                    height: 3.5em;
                    font-size: 0.9em;
                }
            }
        }

        .form__footer {
            .form__info {
                display: grid;
                grid-template-columns: 9em 1fr;
                align-items: center;
                margin-bottom: -1em;
                font-size: 0.95em;

                a {
                    font-weight: 600;
                    margin-left: 1em;
                }
            }
        }

    }

}


.registr__passwords-block {
    display: flex;
    flex-direction: row;
}

.transparent-button {
    background: #FFFFFF;
    border: 1px solid #EFAF84;
    width: 15em;
}


/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {

    .registr-page .registr__form {
        margin: auto;
        max-height: 900px;
    }

    .registr-page {
        padding: 0;
        margin: 0;
        //height: calc(100vh - 56px);
        height: 100%;
        border-radius: 0;
        background: #fff;

        .registr__form {
            width: 100%;
            max-width: 100vw;
            height: 100%;
            //padding: 54px 0.5em 0 0.5em;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;
            min-height: 100vh;
            border-radius: 0;

            .form__content .registr__passwords-block {
                grid-template-columns: none;
            }
        }
    }

    .form__content {
        width: 100%;
    }

    .registr-page .registr__form .form__content .auth__auth-buttons {
        flex-direction: column;
        width: 100%;
    }

    .registr-page .registr__form .form__content .auth__auth-buttons > * {
        margin-bottom: 1em;
        width: 100%;
        max-width: inherit;
    }
}


/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .registr-page {
        //padding-top: 54px;
        padding-top: 0px;
    }

    .registr-page .registr__form {
        border-radius: 0;
        margin: 0;
        max-width: 100vw;

    }

}


/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    //.registr-page .registr__form {
    //    border-radius: 0;
    //    margin: 0;
    //    max-width: 100vw;
    //    max-height: 100vh;
    //    justify-content: center;
    //}
    //
    //.registr-page .registr__form .form__footer .form__info {
    //    align-items: baseline;
    //}
    //
    //.registr-page .registr__form .form__header,
    //.registr-page .registr__form .form__content {
    //    margin-bottom: 5em;
    //}


}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
    .block-cards__wrapper .wrapper__text {
        font-size: 1.5em;
    }

    .registr-page h2 {
        font-size: 2em;
    }

    .registr-page {
        //margin-bottom: 1em;
    }

    //
    //.registr-page .registr__form {
    //    max-height: 800px;
    //}

}


